Include /etc/ssh/sshd_config.d/*.conf

PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
AllowTcpForwarding yes
GatewayPorts yes
ClientAliveInterval 120
ClientAliveCountMax 3

Include /etc/ssh/sshd_config.d/user.d/*.conf
